.col{
    width: 10px;
}
.home{
    position:relative;
    height: 100vh;
    width: 100%;
    
    background-size: cover;
    background-position:center ;
}
.form_container{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,50%);
    z-index:101;
    background-color: rgb(237, 237, 248);

}
.c1{
    background-color: rgb(255, 255, 255);
   height: 300px; 
  
   
   
}
.c2{
    background-color: rgb(255, 255, 255);
   height: 700px; 
   width: 200px;
   
   
}
.c3{
    background-color: rgb(255, 255, 255);
   height: 300px; 
   
   
}
.divider {
    width: 70%;
    height: 1px;
    background-color: #353434;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 65px;
  }
  
  .divider span {
    background-color: #fff;
    padding: 0 10px;
    color: #444444;
  }
 .card{
    padding-top:20px ;
    margin-top: -730px;
    margin-left: 150px;
    height: 900px;
    border-radius: 60px;
   
 }
 .card-body{
    height: 680px;
 }